body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 14px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.login-logo {
    height: 80px;
    margin-bottom: 20px;
}

.login-title {
    margin-bottom: 40px; /* Ajusta este valor para cambiar el margen */
    font-size: 30px;
}

.border-wrapper {
    background: linear-gradient(270deg, #8C52FF, #FF6F91);
    background-size: 600% 600%;
    padding: 3px; /* Ajustar el ancho del borde */
    border-radius: 13px;
    animation: gradientAnimation 6s ease infinite; /* Cambiar ease a ease y ajustar velocidad */
    display: inline-block; /* Asegurarse de que el borde rodee completamente el formulario */
}

.login-form {
    background-color: #e0e0e0;
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-form label {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.password-container label {
    margin: 0;
    flex: 1;
}

.password-container .forgot-password {
    margin: 0;
    color: #8C52FF;
    text-decoration: none;
    flex: 1;
    text-align: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
}

.login-button:hover {
    background-color: #7b46d8;
}

.signup-text {
    margin-top: 20px;
    color: #000;
    text-align: center;
    width: 100%;
}

.signup-text a {
    color: #8C52FF;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
