body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 16px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.logo img {
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.buttons {
    display: flex;
    align-items: center; /* Alinear los elementos verticalmente */
    gap: 40px; /* Aumentar el espacio entre los elementos */
    margin-right: 20px;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 15px;
    transition: background-color 0.2s, transform 0.2s; /* Cambiar box-shadow a transform */
    font-size: 12px;
}

.button.grey {
    background-color: #ccc;
    color: #000;
}

.button.black {
    background-color: #4a4a4a;
}

.button.purple {
    background-color: #8C52FF;
}

.button:hover {
    transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón */
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 12px; /* Ajustar el tamaño de la letra */
    padding: 10px 0; /* Añadir padding vertical para centrar con los botones */
    transition: transform 0.2s;
}

.nav-link:hover {
    transform: scale(1.1); /* Aumentar ligeramente el tamaño del texto */
}

main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    text-align: center;
}

.main-image {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.text-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
}

.text-section p {
    flex: 1;
    margin: 0 10px;
}

.info {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
    max-width: 250px;
    margin: 40px auto 0 auto;
    padding: 0 20px;
}